.scroll__container {
    padding-left: 10px;
    margin-left: 1rem !important;
}

.scroll__buttons--container {
    height: 80px;
    margin-bottom: 15px;
}

.scroll__items {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.scroll__items:focus {
    border:0.5px solid #b3b3b3 i !important;
}

