.panel__section {
    padding-top: 20px;
}

.cards__container {
    border-radius: 5px;
    padding-left:45px;
    padding-right: 45px;
    padding-top:40px;
    padding-bottom: 40px; 
    border: 1px solid rgba(0, 0, 0, 0.083);
}

.title__container {
    padding-top: 35px;
    padding-bottom: 35px;
}

.title {
    font-size: 2.5rem;
}

.subtitle {
    font-size: 1.2rem;
}

